.navbar {
  z-index: 9999;
}

.navbar {
  background: #fff;
  height:90px;
}

.navbar-wrapper {
  width:100%;
  height: 100%;
}

.navbar-toggler {
  width:0;
  padding:0;
}

.navbar-brand {
  display: inline-block;
  margin:auto 0;
  font-size: 20px;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand img {
  height:25px;
}

.navbar-content{
  justify-content:space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.navbar-content ul {
  list-style: none;
  margin: 0;
}

.navbar-left {
  padding-left: 10px;
}

.navbar-right {
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navbar-left li {
  display: inline-block;
}
.navbar-right li {
  display: inline-block;
}


.navbar-item {
  margin: 0 15px;
}

.nav-link {
  font-family: Brandon Grotesque Regular,Helvetica Neue,Arial,sans-serif;
  color: #737373;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 0 0;
  cursor: pointer;
}

.signup-button {
  font-size:13px;
  background-color: #FDBD3C;
  padding: 15px 25px 10px;

}

@media screen and (max-width:991px) {
  .navbar {
    height: 67px;
  }

  .navbar .container {
    height:100%;
  }

  .navbar-wrapper {
    height: 100%;
    position: absolute;
    left:0;
    right:0; 
    top: 0;
    bottom: 0;
  }
  
  .navbar-brand {
    position: absolute;
    left: 75px;
    top: 11px;
  }

  .navbar-brand img {
    height: 20px;
  }

  .navbar-toggler {
    position: absolute;
    left: 18px;
    top:15px;
    width: 50px;
    height: 35px;
    padding: 8px 12px;
    background-color: #fff;
    border: none;
  }

  .navbar-toggler-icon {
    height: 100%;
    width: 100%;
    border-top: 3px solid #f48742;
    border-bottom: 3px solid #f48742;
    background-color: #f48742;
    padding: 5px 0;
    outline: none;
    background-clip: content-box;
  }

  .collapse:not(.show) {
    display: none;
  }

  .navbar-light [aria-expanded=true] .navbar-toggler-icon {
    background-color:transparent;
    border:none;
    outline: none;
    color: transparent;
    height: 0;
  }

  .navbar-light [aria-expanded=true] .navbar-toggler-icon:before{
    content: "";
    position: absolute;
    margin: 0;
    width: 30px;
    height: 3px;
    top:17px;
    background-color: #f48742;
    transform: rotate(-45deg);
    left: 10px;
    transition: bottom .2s;
 }
  .navbar-light [aria-expanded=true] .navbar-toggler-icon:before{
    bottom: 14px;
    transform: rotate(-45deg);
    transition: bottom .3s cubic-bezier(.23,1,.32,1),transform .2s cubic-bezier(.23,1,.32,1) .25s;
  }

 .navbar-light [aria-expanded=true] .navbar-toggler-icon:after{
    content: "";
    position: absolute;
    margin: 0;
    width: 30px;
    height: 3px;
    background-color: #f48742;
    transform: rotate(45deg);
    left: 10px;
    transition: top .2s;
  }

  .navbar-light [aria-expanded=true] .navbar-toggler-icon:after{
    top: 17px;
    transform: rotate(45deg);
    transition: top .3s cubic-bezier(.23,1,.32,1),transform .2s cubic-bezier(.23,1,.32,1) .25s;
  }
  .navbar-collapse.show {
    display: flex;  
    width: 100%;
    height:320px;
    margin-top:59px;
    margin-left:0;
    flex-direction: column-reverse;
    background: #f0f0f1;
    color:#525d71;
  
    z-index: 999;
    justify-content: center;
  }
  
  .navbar-collapse.show {
    transform: translateY(0);
    transition: transform .25s ease-out;
  }
  
  .navbar-collapse .navbar-left {
    opacity: 0;
  }
  
  .navbar-collapse .navbar-right {
    opacity: 0;
  }
  
  .navbar-collapse.show .navbar-right {
    padding: 10px 20px 10px;
    border-bottom: 1px solid #fff;
    width: 100%;
    margin-top:0;
    flex-direction: row;
    opacity: 1;
  }
  
  .navbar-collapse.show .navbar-left {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 0;
    padding-left:0;
    opacity: 1;
  }
  
  .navbar-collapse.show .navbar-left li {
    line-height: 50px;
    padding: 15px 20px 10px 0;
    letter-spacing: 0;
    display: inline-block;
    border-bottom: 1px solid #fff;
    width: 100%;
  }
  
  .navbar-collapse.show li.navbar-item {
    margin-left:0;
    padding-left:0;
  }
  
  .navbar-collapse.show .nav-link {
    font-family: Brandon Grotesque Medium,Helvetica Neue,Arial,sans-serif;
    font-size:14px;
    margin-left:25px;
  }
  
  .navbar-collapse.show .signup-button {
    font-size:14px;
    margin-top:0;
    margin-bottom: 0;
  }
  .navbar-collapse.show .navbar-right .navbar-item {
    margin-top: 0;
    margin-bottom: 0;
  }
  }

button:focus {
  outline: none;
}

.flex {
  display: flex;
}

.signup-button:hover {
  background-color: #f48742;
}

.container {
  max-width:1380px;
  height: 100%;
}

@media screen and (max-width:1200px) {
  .container {
    max-width: 1140px;
  }
}
