.icons {
  display: flex;
  justify-content: center;                                                              
  align-items: center;
  flex-direction: row;
}

.icon {
    display:inline-block;
    margin: 0 auto;
    border: 1px solid #000;
}

.goals {
    display: flex;
    justify-content: center;                                                              
    align-items: center;
    flex-direction: row;
  }

.goal {
  display:inline-block;
  margin: 0 auto;
  border: 1px solid #000;
}

